body {
  background-color: white;
  font-family: 'Kanit', sans-serif; }

body a {
  text-decoration: none;
  color: black; }

header div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch; }

div.header-fondo {
  background-color: white; }

footer div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch; }

@media (max-width: 575.98px) {
  header div.unico {
    padding: 3px 0px 2px 0px;
    grid-column-gap: 2%; }
  .div__logo {
    width: 75px;
    height: 20px; }
  .div__titulos a {
    font-size: 90%;
    font-weight: bold;
    margin: 3px; }
  .div__img {
    width: 17px;
    height: 17px; }
  body h1 {
    font-size: 130%;
    padding: 10px 0px 5px 0px; }
  div.espacio {
    margin: 2% 10px 5% 10px; }
  img.small {
    width: 150px;
    height: 160px; }
  p {
    font-size: 80%; }
  body article p {
    padding: 20px 5px 0px 10px; }
  section div.card {
    margin: 17px 10px 20px 10px;
    border: white; }
    section div.card div {
      padding: 0px; }
  div input {
    margin: 0px 10px 0px 0px;
    height: 34px; }
  div button.btn {
    height: 34px;
    padding: 5px; }
  div.espacioSuscripcion {
    padding: 7% 10% 5% 10%; }
  h2.suscripcion {
    font-size: 115%;
    font-weight: bold;
    text-shadow: 0px 0px 5px black; }
  h3.suscripcion {
    font-size: 100%;
    font-weight: bold;
    text-shadow: 0px 0px 5px black; }
  div.card-espacio {
    margin: 0%; }
  footer div {
    padding: 3px 0px 4px 0px;
    grid-column-gap: 3%; }
  img.div-centrar {
    margin: 0px; }
  div.espaciado {
    margin: 100px 20px 100px 20px;
    height: 200px; } }

@media (min-width: 767px) {
  header div.unico {
    padding: 2px 0px 3px 0px;
    grid-column-gap: 3%; }
  .div__logo {
    width: 130px;
    height: 35px;
    margin: 10px 0px 0px 0px; }
  div.div__titulos a {
    font-size: 160%;
    margin: 5px 0px 0px 0px;
    font-weight: bold; }
  .div__img {
    width: 30px;
    height: 32px;
    margin: 10px 0px 10px 0px; }
  body h1 {
    font-size: 220%;
    padding: 30px 0px 10px 0px; }
  div.espacio {
    margin: 2% 50px 5% 50px; }
  img.small {
    width: 240px;
    height: 250px; }
  p {
    font-size: 150%; }
  body article p {
    padding: 30px 15px 0px 15px; }
  section div.card {
    margin: 40px 50px 30px 50px;
    border: white; }
    section div.card div {
      padding: 0px; }
  div input {
    margin: 0px 70px 0px 0px;
    height: 60px; }
  div button.btn {
    height: 60px;
    padding: 10px; }
  div.espacioSuscripcion {
    padding: 15% 5% 5% 5%; }
  h2.suscripcion {
    font-size: 200%;
    font-weight: bold;
    text-shadow: 0px 0px 5px black; }
  h3.suscripcion {
    font-size: 180%;
    font-weight: bold;
    text-shadow: 0px 0px 5px black; }
  div.card-espacio {
    margin: 0%; }
  footer div {
    padding: 5px 0px 5px 0px;
    grid-column-gap: 3%; }
  img.div-centrar {
    margin: 0px; }
  h1.espacios {
    margin: 20px 0px 0px 0px; }
  p.espacios {
    padding: 20px 90px 60px 90px; }
  div.espaciado {
    margin: 40px 100px 40px 100px;
    height: 200px; } }

@media (min-width: 992px) {
  header div.unico {
    padding: 10px 0px 5px 0px;
    grid-column-gap: 7%; }
  .div__logo {
    width: 210px;
    height: 50px;
    margin: 0px 0px 02px 0px; }
  .div__titulos a {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px 0px 0px; }
  .div__img {
    width: 35px;
    height: 35px;
    margin: 10px 0px 0px 0px; }
  body h1 {
    padding: 20px 0px 0px 0px; }
  img.small {
    width: 450px;
    height: 450px; }
  body article p {
    font-size: 30px;
    padding: 70px 20px 0px 30px; }
  section div.card {
    margin: 50px 100px 20px 100px;
    border: white; }
    section div.card div {
      padding: 0px; }
  div.espacio {
    margin: 2% 20% 5% 20%; }
  input {
    margin: 0px 20px 0px 0px;
    height: 60px; }
  div.espacioSuscripcion {
    padding: 20% 10% 10% 10%; }
  h2.suscripcion {
    font-weight: bold;
    text-shadow: 0px 0px 5px black; }
  h3.suscripcion {
    font-weight: bold;
    text-shadow: 0px 0px 5px black; }
  footer div {
    padding: 6px 0px 0px 0px;
    grid-column-gap: 10%; }
  img.div-centrar {
    margin: 0px 0px 0px 90px; }
  div.card-espacio {
    margin: 0% 10% 0% 10%; }
  div.espaciado {
    margin: 40px 100px 40px 100px;
    height: 200px; } }
