@media (min-width: 992px) {
    header {
        div.unico {
            @include padding (($diezpx), 0px, ($diezpx)-5, 0px);
            grid-column-gap: ($diezpor)-3;
        }
    }
    .div__logo {
        @include imagenes ($cienpx * 2 + 10, $diezpx * 5);
        @include margin (0px, 0px, 02px, 0px);
    }
    .div__titulos {
        a {
            font-size: $diezpx*3;
            font-weight: $negrita;
            @include margin ($diezpx, 0px, 0px, 0px);
        }
    }
    .div__img {
        @include imagenes ($diezpx + 25, $diezpx + 25);
        @include margin ($diezpx, 0px, 0px, 0px);
    }
    body {
        h1 {
            @include padding ($diezpx *2, 0px, 0px, 0px);
        }
    }
    img.small {
        @include imagenes ($cienpx * 4 + 50, $cienpx * 4 + 50);
    }
    // noticias
    section {
        div.noticias {
            @include margin ($cienpx, $cienpx, ($cienpx)-30, $cienpx);
            border: $negro;
            div {
                padding: 0px;
            }
        }
    }
    body {
        article {
            p.parrafoNoticias {
                font-size: $diezpx + 20;
                @include padding ($cienpx+50, $diezpx*3, 0px, $diezpx *5);
            }
        }
    }
    //productos
    section {
        div.productos {
            @include margin ($cienpx/2, $cienpx, $diezpx *2, $cienpx);
            border: $blanco;
            div {
                padding: 0px;
            }
        }
    }
    body {
        article {
            p {
                font-size: $diezpx + 20;
                @include padding (($cienpx)-30, $diezpx *2, 0px, $diezpx *3);
            }
        }
    }
    div.espacio {
        @include margin (($diezpor)-8, $diezpor * 2, 0px, $diezpor * 2);
    }
    input {
        @include margin (0px, $diezpx*2, 0px, 0px);
        height: $diezpx * 6;
    }
    div.espacioSuscripcion {
        @include padding ($diezpor *2, $diezpor, $diezpor, $diezpor);
    }
    h2.suscripcion {
        font-weight: $negrita;
        text-shadow: 0px 0px ($diezpx)-5 $negro;
    }
    h3.suscripcion {
        font-weight: $negrita;
        text-shadow: 0px 0px ($diezpx)-5 $negro;
    }
    footer {
        div {
            @include padding (($diezpx)- 4, 0px, ($diezpx)-8, 0px);
            grid-column-gap: $diezpor;
        }
    }
    img.div-centrar {
        @include margin (0px, 0px, 0px, ($cienpx)-10);
    }
    div.card-espacio {
        @include margin (0%, $diezpor, 0%, $diezpor);
    }
    div.espaciado {
        @include margin ($cienpx*2 + 50, $cienpx*3, $cienpx*4, $cienpx*3);
        height: $cienpx *2;
    }
    section.enProductos {
        @include margin ($cienpx, ($diezpx)-5, $diezpx*3, $cienpx*3);
    }
    button.agregarCarrito {
        @include imagenes ($cienpx*4, $diezpx*2);
    }
    body {
        section {
            div.card-body {
                @include padding ($cienpx, 0px, 0px, 0px);
            }
            p.agregado {
                @include padding ($diezpx*2, 0px, 0px, 0px);
                font-weight: $negrita;
                color: rgb(3, 85, 3);
            }
        }
    }
    // carrito
    button.botonesCarrito {
        width: 24px;
        height: 24px;
        padding: 0px 0px 24px 0px;
        font-size: 15px;
    }
    td {
        button.sumar {
            margin: 0px 5px 2px 0px;
        }
    }
    td {
        button.restar {
            margin: 0px 0px 0px 5px;
        }
    }
    td {
        p.pCarrito {
            font-size: 16px;
        }
    }
}