@media (max-width: 575.98px) {
    //Inicio
    header {
        div.unico {
            @include padding (($diezpx)-7, 0px, ($diezpx)-8, 0px);
            grid-column-gap: ($diezpor)-8;
        }
    }
    .div__logo {
        @include imagenes (($cienpx)-25, $diezpx + 10);
    }
    .div__titulos {
        a {
            font-size: ($cienpor)-10;
            font-weight: $negrita;
            margin: ($diezpx)-7;
        }
    }
    .div__img {
        @include imagenes ($diezpx+7, $diezpx+7);
    }
    body {
        h1 {
            font-size: $cienpor + 30;
            @include padding ($diezpx, 0px, ($diezpx)-5, 0px);
        }
    }
    div.espacio {
        margin: ($diezpor)-8 $diezpx ($diezpor)-5 $diezpx;
    }
    img.small {
        @include imagenes ($cienpx+50, $cienpx+60);
    }
    p {
        font-size: ($cienpor)-20;
    }
    body {
        article {
            p {
                @include padding ($diezpx*2, ($diezpx)-5, 0px, $diezpx);
            }
        }
    }
    section {
        div.card {
            margin: $diezpx + 7 $diezpx $diezpx*2 $diezpx;
            border: $blanco;
            div {
                padding: 0px;
            }
        }
    }
    div {
        input {
            margin: 0px $diezpx 0px 0px;
            height: $diezpx *3 + 4;
        }
    }
    div {
        button.btn {
            height: $diezpx *3 + 4;
            @include padding (($diezpx)-5, ($diezpx)-5, ($diezpx)-5, ($diezpx)-5);
        }
    }
    div.espacioSuscripcion {
        @include padding (($diezpor)-3, $diezpor, ($diezpor)-5, $diezpor);
    }
    h2.suscripcion {
        font-size: $cienpor + 15;
        font-weight: $negrita;
        text-shadow: 0px 0px ($diezpx)-5 $negro;
    }
    h3.suscripcion {
        font-size: $cienpor;
        font-weight: bold;
        text-shadow: 0px 0px ($diezpx)-5 $negro;
    }
    div.card-espacio {
        margin: 0%;
    }
    footer {
        div {
            @include padding (($diezpx)-7, 0px, ($diezpx)-6, 0px);
            grid-column-gap: ($diezpor)-7;
        }
    }
    img.div-centrar {
        margin: 0px;
    }
    div.espaciado {
        margin: $cienpx $diezpx *2 $cienpx $diezpx *2;
        height: $cienpx *2;
    }
    // productos
    div.card-body {
        h2 {
            font-size: $cienpor + 5;
        }
    }
    div.card-body {
        h3 {
            font-size: ($cienpor)-5;
        }
    }
    section {
        margin: $diezpx*4 ($diezpx)-5 $diezpx*4 ($diezpx)-7;
    }
    button.agregarCarrito {
        @include imagenes ($cienpx + 50, $diezpx*2);
    }
    body {
        section {
            div.card-body {
                @include padding ($diezpx+ 10, 0px, 0px, 0px);
            }
        }
    }
}