@media (min-width: 767px) {
    header {
        div.unico {
            padding: ($diezpx)-8 0px ($diezpx)-7 0px;
            grid-column-gap: ($diezpor)-7;
        }
    }
    .div__logo {
        @include imagenes ($cienpx + 30, $diezpx *3 + 5);
        margin: $diezpx 0px 0px 0px;
    }
    div.div__titulos {
        a {
            font-size: 160%;
            margin: ($diezpx)-5 0px 0px 0px;
            font-weight: bold;
        }
    }
    .div__img {
        @include imagenes ($diezpx+20, $diezpx+22);
        margin: $diezpx 0px $diezpx 0px;
    }
    body {
        h1 {
            font-size: $cienpor *2 + 20;
            padding: $diezpx *3 0px $diezpx 0px;
        }
    }
    div.espacio {
        margin: ($diezpor)-8 $cienpx/2 ($diezpor)-5 $cienpx/2;
    }
    img.small {
        @include imagenes ($cienpx*2 + 40, $cienpx*2 + 50);
    }
    p {
        font-size: $cienpor + 50;
    }
    body {
        article {
            p {
                padding: $diezpx*3 $diezpx + 5 0px $diezpx + 5;
            }
        }
    }
    section {
        div.card {
            margin: $diezpx*4 $diezpx*5 $diezpx*3 $diezpx*5;
            border: $blanco;
            div {
                padding: 0px;
            }
        }
    }
    div {
        input {
            margin: 0px ($cienpx)- 30 0px 0px;
            height: ($cienpx)- 40;
        }
    }
    div {
        button.btn {
            height: ($cienpx)- 40;
            padding: $diezpx;
        }
    }
    div.espacioSuscripcion {
        padding: $diezpor + 5 ($diezpor)-5 ($diezpor)-5 ($diezpor)-5;
    }
    h2.suscripcion {
        font-size: $cienpor *2;
        font-weight: $negrita;
        text-shadow: 0px 0px ($diezpx)-5 $negro;
    }
    h3.suscripcion {
        font-size: $cienpor + 80;
        font-weight: bold;
        text-shadow: 0px 0px ($diezpx)-5 $negro;
    }
    div.card-espacio {
        margin: 0%;
    }
    footer {
        div {
            padding: ($diezpx)-5 0px 2px 0px;
            grid-column-gap: ($diezpor)- 7;
        }
    }
    img.div-centrar {
        margin: 0px;
    }
    h1.espacios {
        margin: $diezpx *2 0px 0px 0px;
    }
    p.espacios {
        padding: $diezpx *2 ($cienpx)-10 ($cienpx)-40 ($cienpx)-10;
    }
    div.espaciado {
        margin: $cienpx*2 $cienpx $diezpx *4 $cienpx;
        height: $cienpx * 2;
    }
    // productos
    section {
        margin: $diezpx*4 5px $diezpx*4 50px;
    }
    button.agregarCarrito {
        @include imagenes (250px, 20px);
    }
    body {
        section {
            div.card-body {
                padding: $diezpx+ 15 0px 0px 0px;
            }
        }
    }
}