@media (min-width: 767px) {
    // header
    header {
        div.unico {
            @include padding (($diezpx)-8, 0px, ($diezpx)-7, 0px);
            grid-column-gap: ($diezpor)-7;
        }
    }
    .div__logo {
        @include imagenes ($cienpx + 30, $diezpx *3 + 5);
        @include margin ($diezpx, 0px, 0px, 0px);
    }
    div.div__titulos {
        a {
            font-size: $cienpor+60;
            @include margin (($diezpx)-5, 0px, 0px, 0px);
            font-weight: $negrita;
        }
    }
    .div__img {
        @include imagenes ($diezpx+20, $diezpx+22);
        @include margin ($diezpx, 0px, $diezpx, 0px);
    }
    img.div-centrar {
        @include margin (0px, 0px, 0px, 0px);
        margin: 0px;
    }
    body {
        h1 {
            font-size: $cienpor *2 + 20;
            @include padding ($diezpx *3, 0px, $diezpx, 0px);
        }
    }
    div.espacio {
        @include margin (($diezpor)-8, $cienpx/2, ($diezpor)-5, $cienpx/2);
    }
    img.small {
        @include imagenes ($cienpx*2 + 40, $cienpx*2 + 50);
    }
    p {
        font-size: $cienpor + 50;
    }
    // noticias
    section {
        div.noticias {
            @include margin ($diezpx*5, $diezpx*3, $diezpx*5, $diezpx*3);
            border: $blanco;
            div {
                @include padding (0px, 0px, 0px, 0px);
            }
        }
    }
    body {
        article {
            p.parrafoNoticias {
                @include padding ($diezpx*3, $diezpx*2, 0px, $diezpx*2);
            }
        }
    }
    // suscripcion
    div {
        input {
            @include margin (0px, ($cienpx)- 30, 0px, 0px);
            height: ($cienpx)- 40;
        }
    }
    div {
        button.suscribite {
            height: ($cienpx)- 40;
            @include padding ($diezpx, $diezpx, $diezpx, $diezpx);
        }
    }
    div.espacioSuscripcion {
        @include padding ($diezpor + 5, ($diezpor)-5, ($diezpor)-5, ($diezpor)-5);
    }
    h2.suscripcion {
        font-size: $cienpor *2;
        font-weight: $negrita;
        text-shadow: 0px 0px ($diezpx)-5 $negro;
    }
    h3.suscripcion {
        font-size: $cienpor + 80;
        font-weight: $negrita;
        text-shadow: 0px 0px ($diezpx)-5 $negro;
    }
    div.card-espacio {
        @include margin (0%, 0%, 0%, 0%);
    }
    footer {
        div {
            @include padding (($diezpx)-5, 0px, ($diezpx)-8, 0px);
            grid-column-gap: ($diezpor)- 7;
        }
    }
    // nosotros
    h1.espacios {
        @include margin ($diezpx *2, 0px, 0px, 0px);
    }
    p.espacios {
        @include padding ($diezpx *2, ($cienpx)-10, ($cienpx)-40, ($cienpx)-10);
    }
    // productos
    section {
        div.productos {
            @include margin ($diezpx*4, $diezpx*6, $diezpx*3, $cienpx);
            border: $blanco;
            div {
                @include padding (0px, 0px, 0px, 0px);
            }
        }
    }
    section.enProductos {
        @include margin ($diezpx*4, 5px, $diezpx*4, 50px);
    }
    a.botonDescripcion {
        @include imagenes($cienpx, 0px);
        @include padding (0px, ($diezpx)-9, $diezpx*3, 0px);
        @include margin (($diezpx)-5, 0px, 0px, $diezpx);
        font-size: $diezpx*2;
    }
    button.agregarCarrito {
        @include imagenes ($cienpx*2 + 50, $diezpx*2);
        font-size: $diezpx*2;
    }
    body {
        section {
            div.card-body {
                @include padding ($diezpx*2+5, 0px, 0px, 0px);
            }
            p.agregado {
                @include padding ($diezpx, 0px, 0px, 0px);
                font-weight: $negrita;
                color: rgb(3, 85, 3);
            }
        }
    }
    // producto solo
    div.agregarProductoSolo {
        @include margin (0px, 0px, 0px, $cienpx*2+50);
    }
    p.agregadoProductoSolo {
        @include padding ($diezpx, 0px, 0px, ($diezpx)-5);
        font-weight: $negrita;
        color: rgb(3, 85, 3);
        font-size: $diezpx*2 + 5;
    }
    // carrito
    button.botonesCarrito {
        @include imagenes($diezpx*2 + 4, $diezpx*2 + 4);
        @include padding (0px, 0px, $diezpx*2 + 4, 0px);
        font-size: $diezpx + 7;
    }
    td {
        button.sumar {
            @include margin (0px, ($diezpx)-5, 0px, 0px);
        }
    }
    td {
        button.restar {
            @include margin (0px, 0px, 0px, ($diezpx)-5);
        }
    }
    td {
        button.borrar-producto {
            @include imagenes($diezpx*2 + 7, $diezpx*2 + 6);
            @include padding (0px, 0px, $diezpx*2 + 7, 0px);
            img.botonBorrarProducto {
                @include imagenes($diezpx*2 + 3, $diezpx*2 + 2);
            }
        }
    }
    td {
        p.pCarrito {
            font-size: $diezpx + 6;
        }
    }
    thead.color {
        background-color: rgba(0, 0, 0, 0.164);
        color: $blanco;
    }
    div.espaciado {
        @include margin ($cienpx, $cienpx, $diezpx, $cienpx);
        height: $cienpx * 2;
    }
    a#volverAlInicio {
        color: $blanco;
        font-size: $diezpx*2 + 5;
        @include margin ($cienpx*2, $cienpx/2, 0px, $cienpx/2);
    }
}