@import './variables';
@import './mixins';
body {
    background-color: $blanco;
    font-family: 'Kanit', sans-serif;
}

body {
    a {
        text-decoration: none;
        color: $negro;
    }
}

header {
    div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: stretch;
    }
}

div.header-fondo {
    background-color: $blanco;
}

div.footer-fondo {
    background-color: $blanco;
}

footer {
    div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: stretch;
    }
}

@import './phone';
@import './tablet';
@import './desktops';